n8n_workflows/n8n_healthcheck_workflow.json
{
  "name": "Homelab Health Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { service: 'Immich', url: 'https://immich.ternis.net' } },\n  { json: { service: 'Nextcloud', url: 'https://cloud.ternis.net' } },\n  { json: { service: 'Gitea', url: 'https://git.ternis.net' } },\n  { json: { service: 'Pi-hole', url: 'https://pi-hole.ternis.net/admin/' } },\n  { json: { service: 'Poste.io', url: 'https://mx1.ternis.net' } },\n  { json: { service: 'n8n', url: 'https://n8n.ternis.net/healthz' } }\n];"
      },
      "id": "2",
      "name": "Service List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "3",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [540, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const service = item.json.service || 'Unknown';\n  const isUp = item.json.statusCode && item.json.statusCode >= 200 && item.json.statusCode < 400;\n  results.push({\n    json: {\n      service: service,\n      status: isUp ? 'UP' : 'DOWN',\n      statusCode: item.json.statusCode || 'N/A',\n      error: item.json.error || ''\n    }\n  });\n}\nreturn results;"
      },
      "id": "4",
      "name": "Analyze Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "DOWN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "5",
      "name": "If Service Down",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3,
      "position": [980, 300]
    },
    {
      "parameters": {
        "jsCode": "console.log('ALERT: ' + $json.service + ' is DOWN! Status Code: ' + $json.statusCode);\nreturn $input.all();"
      },
      "id": "6",
      "name": "Alert Action (Placeholder)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Service List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service List": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Status": {
      "main": [
        [
          {
            "node": "If Service Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Service Down": {
      "main": [
        [
          {
            "node": "Alert Action (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
